{
  "arrowParens": "always",
  "bracketSpacing": true,
  "experimentalTernaries": true,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "sortingMethod": "alphabetical",
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
